body {
  font-family: sans-serif;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* body of the AllWigs page */
.allwigs-content {
  display: flex;
  flex-direction: column;
}

.wig-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.wig-card {
  flex: 1 1 30%;
  margin: 10px 20px 25px;
}

.wig-img-div img {
  display: block;
  max-width: 100%;
  object-fit: contain;
}

.wig-btn-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wig-btn-div button {
  font-size: 14px;
  background-color: #4cb5ae;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 7px;
}

.wig-btn-div button:disabled {
  background-color: grey;
}

/* body of the ViewCart page */
.cart-container {
  display: flex;
  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
  flex-direction: column;
}

.item-img-div img {
  display: flex;
  max-width: 100%;
  object-fit: contain;
  margin: 20px 20px;
  width: 200px;
}

.cart-div {
  display: flex;
  justify-content: flex-start;
  margin: 5px;
}

.item-text-div {
  display: flex;
  flex-direction: column;
  margin: 1px;
  justify-content: flex-start;
}

.item-name-padding {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  margin-bottom: 5px;
  justify-content: flex-start;
}

.item-text-padding {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px;
  justify-content: flex-start;
}

.item-btn-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item-btn-div button {
  font-size: 14px;
  background-color: #4cb5ae;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 7px;
}

.checkout-btn-div {
  display: flex;
  flex-direction: row;
}

.checkout-btn {
  font-size: 14px;
  background-color: #4cb5ae;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 7px;
}

/* Checkout form beautification */
/* .order-summary {
  width: 70%;
}

.order-summary div {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.summary-div {
  display: flex;
  flex-direction: row;
}

.summary-div p {
  padding: 10px;
  margin: 0;
} */

/* .form-box {

} */
